@model Utilisateur
@{
    ViewData["Title"] = "Compte";
}
<div class="d-flex justify-content-center">
    <a asp-controller="Compte" asp-action="GestionCompte" class="btn btn-primary btn-lg center">Gerer le compte</a>
</div>