<head>
    <style>
        .wrapper {
            display: grid;
            grid-template-columns: 9fr 10fr 9fr;
        }


    </style>
</head>
<body>
    <main class="form-signin">
        <div class="wrapper">
            <div></div>
            <div>
                @{
                    var msg = ViewBag?.messageErreur;
                    if (msg == "echec_connexion")
                    {
                        <div class="alert alert-danger alert-dismissible fade show text-center" role="alert">
                            Nom d'utilisateur ou mot de passe invalide.
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
                            <span aria-hidden="true">&times;</span>
                        </div>
                    }
                }
                <div>
                    <form action="/Authentification/Connexion" method="post">
                        <h1 class="text-center">Connexion</h1>
                        <br />
                        <input class="form-control" name="conom" type="text" placeholder="Nom utilisateur" required />
                        <input class="form-control" name="comdp" type="Password" placeholder="Mot de passe" required />
                        <br />
                        <div class="d-flex justify-content-center">
                            <button type="submit" class="btn btn-primary btn-lg center">Connexion</button>
                        </div>
                    </form>
                </div>
            </div>
            <div></div>
        </div>
    </main>
</body>