@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<head>
    <style>
        .wrapper {
            display: grid;
            grid-template-columns: 9fr 10fr 9fr;
        }
    </style>
</head>
<body>
    <div style="text-align: center;">
        <div class="wrapper">
            <div></div>
            <form action="/Authentification/Enregistrement" method="post">
                <div>
                    <h1>Enregistrement</h1>
                    <br />
                    <input class="form-control" name="ennom" type="text" placeholder="Nom utilisateur" required />
                    <input class="form-control" name="enmdp1" type="Password" placeholder="Mot de passe" required />
                    <input class="form-control" name="enmdp2" type="Password" placeholder="Repeter mot de passe" required />
                    <input class="form-control" name="encourriel" type="email" placeholder="Courriel" required />
                    <input class="form-control" name="entelephone" type="text" placeholder="Telephone" required />
                    <br />
                    <div class="d-flex justify-content-center">
                        <button type="submit" class="btn btn-primary btn-lg center">Enregistrement</button>
                    </div>
                </div>
            </form>
            <div></div>
        </div>
    </div>
</body>